# Object file
*.o

# Ada Library Information
*.ali

#node_modules
node_modules
Client/.next
Client/.next/build-manifest.json
Client/.next/trace
Client/.next/cache/webpack/client-development/1.pack
Client/.next/cache/webpack/client-development/index.pack
Client/.next/cache/webpack/client-development/index.pack.old
Client/.next/cache/webpack/server-development/1.pack
Client/.next/cache/webpack/server-development/2.pack
Client/.next/cache/webpack/server-development/index.pack
Client/.next/cache/webpack/server-development/index.pack.old
Client/.next/server/middleware-build-manifest.js
Client/.next/server/pages-manifest.json
Client/.next/static/chunks/webpack.js
Client/.next/static/development/_buildManifest.js
Client/.next/build-manifest.json
Client/.next/react-loadable-manifest.json
Client/.next/trace
Client/.next/cache/webpack/client-development/0.pack
Client/.next/cache/webpack/client-development/index.pack.old
Client/.next/cache/webpack/server-development/0.pack
Client/.next/cache/webpack/server-development/index.pack
Client/.next/cache/webpack/server-development/index.pack.old
Client/.next/server/middleware-build-manifest.js
Client/.next/server/middleware-react-loadable-manifest.js
Client/.next/server/pages-manifest.json
Client/.next/server/webpack-runtime.js
Client/.next/server/pages/_app.js
Client/.next/server/pages/_document.js
Client/.next/server/pages/_error.js
Client/.env
Client/.next/trace
Client/.next/cache/webpack/client-development/0.pack
Client/.next/cache/webpack/client-development/1.pack
Client/.next/cache/webpack/client-development/index.pack.old
Client/.next/cache/webpack/server-development/0.pack
Client/.next/cache/webpack/server-development/1.pack
Client/.next/cache/webpack/server-development/index.pack
Client/.next/cache/webpack/server-development/index.pack.old
Client/.next/server/pages-manifest.json
Client/.env.local
Client/.env
Truffle/package-lock.json

